<% count = 1 %>
<% @response["events"].each do |e| %>
<div class="event-wrapper">
  <div class="sideboard">
    <div class="image"><img width="200" height="200" src=<%= e['image_url'] %> ></div>
    <div class="attending" id="<%= e['id']  + "_#{count}" %>" >
      <% attending = getAttending(e['id'], e['time_start'].split(' ')[0]) %>
      <% if attending == nil %>
        <p>Attend?</p>
        <%= radio_button("event", "attend", "maybe") %>
        <%= label_tag "event_attend_maybe", "Maybe" %>
        <%= radio_button("event", "attend", "yes") %>
        <%= label_tag "event_attend_yes", "Yes" %>
      <% else %>
        <p><%= "Attending: #{attending}" %></p>
      <% end %>
    </div>
  </div>
  <div class="info">
    <% if e['event_site_url'].blank? %>
      <p><%= e['name'] %></p>
    <% else %>
      <p><%= link_to "#{e['name']}", "#{e['event_site_url']}" %></p>
    <% end %>
    <p><%= e['description'] %></p>
    <p>Address:</p>
    <p><%= get_address(e['location']['display_address'][0]) %></p>
    <p><%= get_city_state_zip(e['location']['display_address'][0]) %></p>
    <p>Date & Time: <%= format_date_time(e['time_start'], e['time_end']) %></p>
    <p>Cost: <%= pad_cost(e['cost']) %></p>
    <% if !e['tickets_url'].blank? %>
      <p><%= link_to 'Tickets', "#{e['tickets_url']}" %></p>
    <% end %>
  </div>
</div>
<% count = count + 1 %>
<% end %>
