<div id="yelp-search">
  <%= form_tag({action: :index, controller: :events},{ method: :get }) do %>
  <%= label_tag :category, 'Category' %>
  <%= text_field_tag 'yelp[category]', nil, autofocus: true %>
  <%= label_tag :zipcode, 'Zip Code' %>
  <%= text_field_tag 'yelp[zip]' %>
  <%= submit_tag 'Search', class: 'btn' %>
  <% end %>
</div>
