<!DOCTYPE html>
<html>
  <head>
    <title>YelpEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <%= render "shared/banner" %>
    <%= yield %>
  </body>
</html>
